{% extends "unfold/layouts/base.html" %}

{% block content %}
    <p>
        A form which does nothing.
        A form which does nothing.
        A form which does nothing.
        A form which does nothing.
        A form which does nothing.
        A form which does nothing.
    </p>

    <div>
        <form method="POST" action="">
            
            {% for field in form %}
                {% include "unfold/helpers/field.html" with field=field %}
            {% endfor %}

            {% csrf_token %}
            <input type="submit" value="Send" />
        </form>
    </div>

{% endblock %}